@font-face {
    font-family: 'iconfont';  /* project id 2413322 */
    src: url('//at.alicdn.com/t/font_2413322_0vkie541j65d.eot');
    src: url('//at.alicdn.com/t/font_2413322_0vkie541j65d.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2413322_0vkie541j65d.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2413322_0vkie541j65d.woff') format('woff'),
    url('//at.alicdn.com/t/font_2413322_0vkie541j65d.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2413322_0vkie541j65d.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  